[submodule "BME68x-Sensor-API"]
	path = lib/bme680-interface/lib/BME68x-Sensor-API
	url = https://github.com/BoschSensortec/BME68x-Sensor-API.git
[submodule "pm2_5-sensor-api"]
	path = lib/pm2_5-interface/lib/pm2_5-sensor-api
	url = ../../driver-development/pm2_5-sensor-api.git
